body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Container principal para adicionar espaçamento */
.container {
    margin-top: 10px;
    /* Adiciona uma margem superior para afastar o conteúdo do topo */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Alinhamento horizontal do input e dos botões */
.search-container {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Espaçamento entre o input e os botões */
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    /* Espaçamento abaixo do campo de busca */
}

/* Estilo do campo de input */
.search-input {
    flex: 1;
    min-width: 300px;
    /* Define uma largura mínima para o input */
}

/* Estilo para os botões */
button[mat-raised-button] {
    margin-right: 10px;
}

button[mat-raised-button]:last-child {
    margin-right: 0;
}

/* Container dos forks */
.forks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.fork {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 15px;
    width: calc(33.33% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.fork:hover {
    transform: scale(1.02);
}

.fork-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fork-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.fork-name {
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

.fork-name:hover {
    text-decoration: underline;
}

.fork p {
    margin: 5px 0;
}

.fork span {
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .fork {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .fork {
        width: calc(100% - 20px);
    }
}

.loading-more {
    text-align: center;
    padding: 20px 0;
}

.forks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}