<p>repository-forks works!</p>
<p>Repository:</p>
    <div>
        <input type="text" [(ngModel)]="repository" placeholder="Enter the GitHub repository in the format: <github username>/<repository name>" />
            <button (click)="search()">Search</button>
            <button (click)="orderForksBy('stargazers_count')">Order by Stars</button>
            
            <div class="forks-container">
                <div *ngFor="let fork of forks" class="fork">
                    <div class="fork-header">
                        <img [src]="fork.owner.avatar_url" alt="Owner Avatar" class="fork-avatar" />
                        <a [href]="fork.html_url" class="fork-name">{{ fork.full_name }}</a>
                    </div>
                    <p class="fork-owner">Owner: <span>{{ fork.owner.login }}</span></p>
                    <p class="fork-description">Description: <span>{{ fork.description || 'No description available.' }}</span></p>
                    <p class="fork-stars">Stars: <span>{{ fork.stargazers_count }}</span></p>
                    <p class="fork-count">Forks: <span>{{ fork.forks_count }}</span></p>
                    <p class="last-updated">Last Updated: <span>{{ fork.updated_at | date: 'yyyy-MM-dd' }}</span></p>
                    <p class="license">License: <span>{{ fork.license?.name || 'No license specified' }}</span></p>
                </div>
            </div>
            
            <!-- Pagination Controls -->
            <div class="pagination-controls">
                <button (click)="previousPage()" [disabled]="page === 1">Previous</button>
                <span>Page: {{ page }}</span>
                <button (click)="nextPage()">Next</button>
            </div>
            
        
    </div>
