<div class="overlay" *ngIf="isLoading"></div>
<mat-spinner *ngIf="isLoading" [diameter]="80"></mat-spinner>


<mat-card class="container">
  <div class="search-container">
    <div class="input-group">
      <mat-form-field appearance="outline" class="search-input">
        <mat-label>Repository</mat-label>
        <input
          matInput
          [(ngModel)]="repository"
          placeholder="Enter the GitHub repository in the format: <github username>/<repository name>"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="search()">Search</button>
    </div>
  
    <div class="input-group">
      <mat-form-field appearance="outline" class="search-input">
        <mat-label>Filters</mat-label>
        <input matInput [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="Search forks" />
      </mat-form-field>
     
      <mat-form-field appearance="outline">
        <mat-label>Order by</mat-label>
        <mat-select [(value)]="selectedOrder" (selectionChange)="sortBy(selectedOrder)">
          <mat-option value="stargazers_count">Stars</mat-option>
          <mat-option value="forks_count">Forks</mat-option>
          <mat-option value="updated_at">Updated At</mat-option>
          <mat-option value="full_name">Full Name</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="accent" (click)="invertForks()">Invert Forks</button>
      <button mat-raised-button color="accent" (click)="sumStars()">Sum Stars</button>
      <div *ngIf="isSumDone" class="result">
        <p>Total Stars: {{ totalStars }}</p>
      </div>

    </div>
  </div>
</mat-card>

<mat-card>
  <div class="forks-container" style="margin-top: 20px;">
    <mat-card *ngFor="let fork of filteredForks" class="fork" style="margin-bottom: 10px;">
      <mat-card-header>
        <div mat-card-avatar>
          <img [src]="fork.owner.avatar_url" alt="Owner Avatar" class="fork-avatar" />
        </div>
        <mat-card-title>
          <a [href]="fork.html_url" class="fork-name">{{ fork.full_name }}</a>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="fork-owner">Owner: <span>{{ fork.owner.login }}</span></p>
        <p class="fork-description">Description: <span>{{ fork.description || 'No description available.'
            }}</span></p>
        <p class="fork-stars">Stars: <span>{{ fork.stargazers_count }}</span></p>
        <p class="fork-count">Forks: <span>{{ fork.forks_count }}</span></p>
        <p class="last-updated">Last Updated: <span>{{ fork.updated_at | date: 'yyyy-MM-dd' }}</span></p>
        <p class="license">License: <span>{{ fork.license?.name || 'No license specified' }}</span></p>
      </mat-card-content>
    </mat-card>
  </div>


  <mat-paginator [length]="totalItems" [pageSize]="perPage" [pageIndex]="page" [pageSizeOptions]="[10, 30, 50, 100]"
    (page)="onPageChange($event)" aria-label="Select page">
  </mat-paginator>

</mat-card>